@model StormTech.Models.Item_table

@{
    ViewBag.Title = "Details";
}

<h2>Item Details</h2>

<fieldset>
    <legend>Item_table</legend>
    <br>
    <div>
        <span class="lable">Supplier @Html.DisplayNameFor(model => model.Supplier_table.Name)</span> : @Html.DisplayFor(model => model.Supplier_table.Name)
    </div>
    <br>
    <div>
         <span class="lable">Item @Html.DisplayNameFor(model => model.Description)</span> : @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
