@model IEnumerable<StormTech.Models.Item_table>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Items</h2>

<p>
    @Html.ActionLink("Add New Item", "Create", new { /**/}, new { @class = "greenButtonRound" })
</p>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>
                Supplier @Html.DisplayNameFor(model => model.Supplier_table.Name)
            </th>
            <th>
                Item @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier_table.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "yellowButtonRound" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "blueButtonRound" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "redButtonRound" })
        </td>
    </tr>
}

</table>
