@model StormTech.Models.Purchase_Table

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Purchase_Table</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Order_Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order_Number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Invoice_table.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Invoice_table.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Item_table.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Item_table.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
