@model StormTech.Models.Purchase_Table

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Purchase_Table</legend>

    <div>
         <span class="lable">Purchase @Html.DisplayNameFor(model => model.Order_Number)</span> : @Html.DisplayFor(model => model.Order_Number)
    </div>

    <div>
         <span class="lable">Item @Html.DisplayNameFor(model => model.Item_table.Description)</span> : @Html.DisplayFor(model => model.Item_table.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Order_Number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
