@model IEnumerable<StormTech.Models.Purchase_Table>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Purchase Orders</h2>

<p>
    @Html.ActionLink("Add New Purchase Order", "Create", new { /**/}, new { @class = "greenButtonRound"})
</p>
<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>
                Purchase @Html.DisplayNameFor(model => model.Order_Number)
            </th>
            <th>
                Supplier @Html.DisplayNameFor(model => model.Item_table.Supplier_table.Name)
            </th>
            <th>
                Item @Html.DisplayNameFor(model => model.Item_table.Description)
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item_table.Supplier_table.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item_table.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Order_Number }, new { @class = "yellowButtonRound"}) |
            @Html.ActionLink("Details", "Details", new { id=item.Order_Number }, new { @class = "blueButtonRound"}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order_Number }, new { @class = "redButtonRound"})
        </td>
    </tr>
}

</table>
